body {
    background: linear-gradient(#FFFFFF, #CFC7DE, #B0A4C9, #4B2E83);
    background-repeat: no-repeat;
    background-position: top;
    overflow-x: hidden;
    margin: 0;
    height: 100%;
}
html {
    margin: 0;
    height: 100%;
}