* {
    /* font-family: 'JetBrains Mono'; */
    font-family: 'Barlow';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: #17181C;
    background-repeat: no-repeat;
    background-position: top;
    overflow-x: hidden;
    z-index: 1;
  }

  .background-gradient-top {
    z-index: -50;
    position: absolute;
    z-index: -1;
    top: -50%;
    width: 100%;
    height: 100%;
    filter: blur(500px);
    background: url(/img/noise.webp) repeat, linear-gradient(247.23deg,#4514c2 0%,#ebab20 100%);
    background-blend-mode: overlay;
    -webkit-mask-image: radial-gradient(rgba(0,0,0,.8),transparent 70%);
    mask-image: radial-gradient(rgba(0,0,0,.8),transparent 70%)
  }

  .background-gradient-middle {
    z-index: -50;
    position: absolute;
    z-index: -1;
    top: 50%;
    left: -50%;
    width: 80%;
    height: 80%;
    filter: blur(500px);
    background: url(/img/noise.webp) repeat, linear-gradient(247.23deg,#8f899f 0%,#6813bd 100%);
    background-blend-mode: overlay;
    -webkit-mask-image: radial-gradient(rgba(0,0,0,.8),transparent 70%);
    mask-image: radial-gradient(rgba(0,0,0,.8),transparent 70%)
  }

  .heading1-text {
    color: #FFF;
    font-family: 'Barlow';
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
  }

  .heading2-text {
    color: #FFF;
    font-family: 'Barlow';
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
  }

  .paragraph-text {
    color: #FFF;
    font-family: JetBrains Mono;
    font-size: 20px;
    font-style: normal;
    font-weight: 200;
  }
  
  .btn-custom {
    background-color: white;
    color: black;
    border-width: 0px;
    border-radius: 0;
    border-width: 2px;
    border-color: white;
    font-family: JetBrains Mono;
    margin-right: 5px;
    margin-left: 5px;
  }

  .btn-custom:hover {
    background-color: #17181C; 
    color: white;
    border-radius: 0;
    border-width: 2px;
    border-color: white;
  }

  .btn-custom2 {
    background-color: #17181C;
    color: #FFFFFF;
    border-width: 2px;
    border-color: white;
    border-radius: 0;
    font-family: JetBrains Mono;
    margin-right: 5px;
    margin-left: 5px;
  }

  .btn-custom2:hover {
    background-color: #ffffff; 
    color: #17181C;
    border-width: 2px;
    border-color: white;
    border-radius: 0;
  }
  
    /* Create the blurry gradient background */
    .blurry-gradient-background {
        position: relative;
        overflow: hidden;
        background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url('path/to/your-background-image.jpg');
        /* The above line creates a gradient overlay with transparency and your background image */
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 100vh;
      }
      
      /* Add the blurry effect to the background overlay */
      .blurry-gradient-background::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(255, 255, 255, 0.5); /* Adjust the transparency as needed */
        z-index: -1;
      }

  .static-navbar {
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    color: white;
    font-size: 18px;
    padding: 15px;
  }

  .nav-header {
    font-size: 18px;
  }
  
  .navbar-nav img {
    max-width: 25px;
  }

  .mountain-ascii {
    max-height: 30px;
  }

  @media (min-width: 1200px) {
    .sub-nav-header {
        border-width: 2px;
        margin: 0rem 2rem 0rem 2rem;
    }
  }

  @media (min-width: 768px) {
    .sub-nav-header {
        border-width: 2px;
        margin: 0rem 2rem 0rem 2rem;
    }
  }

  @media (min-width: 0px) {
    .sub-nav-header {
        border-width: 2px;
        margin: 0rem 1rem 0rem 1rem;
    }
  }

  .jetbrains {
    font-family: JetBrains Mono;
    color: white;
  }

  .big-arrow {
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .make-it-purple {
    background: linear-gradient(to left, rgb(181, 110, 139), white);
  }

  .make-it-thinner {
    height: 0.5rem;
  }
  
  .card-style {
    background: none;
    color: white;
    border-width: 2px;
    border-color: white;
  }

  @keyframes slide {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }
  
  .logos {
    overflow: hidden;
    padding: 30px 0;
    background: none;
    white-space: nowrap;
    position: relative;
  }
  
  .logos:before,
  .logos:after {
    position: absolute;
    top: 0;
    width: 250px;
    height: 100%;
    content: "";
    z-index: 2;
  }
  
  .logos:before {
    left: 0;
    /* background: linear-gradient(to left, rgba(255, 255, 255, 0), white); */
  }
  
  .logos:after {
    right: 0;
    /* background: linear-gradient(to right, rgba(255, 255, 255, 0), white); */
  }
  
  /* .logos:hover .logos-slide {
    animation-play-state: paused;
  } */
  
  .logos-slide {
    display: inline-block;
    animation: 35s slide infinite linear;
  }
  
  .logos-slide img {
    height: 50px;
    margin: 0 40px;
  }

  .white-footer p, h1, h2, h3, h4, h5, h6 {
    font-family: JetBrains Mono;
    color: white;
  }

  .barlow {
    font-family: 'Barlow';
    color: white;
    font-weight: 600;
  }

  .white-footer-li {
    font-family: JetBrains Mono;
    color: white;
  }


  .typewriter {
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
  }
  
  /* Keyframes for typing animation */
  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
  
  /* Keyframes for blinking cursor animation */
  @keyframes blink-caret {
    from,
    to {
      border-color: transparent;
    }
    50% {
      border-color: #fff;
    }
  }
  
  /* Apply the animation to the span element inside .typewriter */
  .typewriter span {
    border-right: 0.15em solid #fff;
    padding-right: 10px;
    animation: typing 1.5s steps(30, end), blink-caret 0.5s step-end infinite;
  }

  /* Typewriter animation */
.typewriter {
  overflow: hidden; /* Hide the overflowing characters */
  border-right: 0.1em solid #fff; /* Add a border on the right side to represent the cursor */
  white-space: nowrap; /* Keep the text in one line */
  margin: 0 auto; /* Center the text */
  letter-spacing: 0.05em; /* Adjust spacing between characters */
  animation: typing 2s steps(55, end), /* Typing animation */
             blink-caret 0.75s step-end infinite; /* Blinking cursor animation */
             
}

/* Keyframes for typing animation */
@keyframes typing {
  from { width: 0; } /* Start with no width (no characters) */
  to { width: 38%; } /* End with full width (all characters visible) */
}

/* Keyframes for blinking cursor animation */
@keyframes blink-caret {
  from, to { border-color: transparent; } /* Start and end with transparent border color */
  35% { border-color: #fff; } 
}

/* Apply the animation to the span element inside .typewriter */
.typewriter span {
  border-right: 0.15em solid #fff;
  padding-right: 10px;
  animation: typing 5s steps(55, end), blink-caret 0.5s step-end infinite;
}

/* End basic CSS override */



@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

button,
input,
select,
textarea {
	font: inherit;
}

a {
	color: inherit;
}


.profile {
	display: flex;
	align-items: center;
	flex-direction: column;
	padding: 10rem;
	width: 10%;
	max-width: 100px;
	background-color: #1b2028;
	border-radius: 16px;
	position: relative;
	border: 3px solid transparent;
	background-clip: padding-box;
	text-align: center;
	color: #f1f3f3;
	background-image: linear-gradient(
		135deg,
		rgba(#752e7c, 0.35),
		rgba(#734a58, 0.1) 15%,
		#1b2028 20%,
		#1b2028 100%
	);
	&:after {
		content: "";
		display: block;
		top: -3px;
		left: -3px;
		bottom: -3px;
		right: -3px;
		z-index: -1;
		position: absolute;
		border-radius: 16px;
		background-image: linear-gradient(
			135deg,
			#752e7c,
			#734a58 20%,
			#1b2028 30%,
			#2c333e 100%
		);
	}
}

.profile-image {
	border-radius: 50%;
	overflow: hidden;
	width: 175px;
	height: 175px;
	position: relative;
	img {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 100%;
	}
}

.profile-username {
	font-size: 1.5rem;
	font-weight: 600;
	margin-top: 1.5rem;
}

.profile-user-handle {
	color: #7d8396;
}

.profile-actions {
	margin-top: 1.5rem;
	display: flex;
	align-items: center;
	justify-content: center;
	& > * {
		margin: 0 0.25rem;
	}
}

.btn {
	border: 0;
	background-color: transparent;
	padding: 0;
	height: 46px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	line-height: 1;
	transition: 0.15s ease;

	&--primary {
		border-radius: 99em;
		background-color: #3772ff;
		background-image: linear-gradient(135deg, #5587ff, #3772ff);
		color: #fff;
		padding: 0 1.375em;
		&:hover,
		&:focus {
			background-size: 150%;
		}
	}

	&--icon {
		height: 46px;
		width: 46px;
		border-radius: 50%;
		border: 3px solid #343945;
		color: #7d8396;
		i {
			font-size: 1.25em;
		}

		&:hover,
		&:focus {
			border-color: #7d8396;
		}
	}
}

.profile-links {
	margin-top: 3.5rem;
}

.link {
	text-decoration: none;
	color: #7d8396;
	margin-left: 0.375rem;
	margin-right: 0.375rem;
	i {
		font-size: 1.25em;
	}
}


sans-serif{
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #060606;
}








/* 
.accordion-section .panel-default > .panel-heading {
  border: 0;
  background: #f4f4f4;
  padding: 0;
}
.accordion-section .panel-default .panel-title a {
  display: block;
  font-style: italic;
  font-size: 1.5rem;
} */


/* Add a class to the container for the gradient background */
.gradient-background {
  /* background-color: #1b2028; */
  /* background-image: linear-gradient(135deg, rgba(117, 46, 124, 0.35), rgba(115, 74, 88, 0.1) 15%, #1b2028 20%, #1b2028 100%); */
  color: #f1f3f3;
}

/* Override the panel styles for the FAQ section */
.accordion-section .panel-default {
  border: 0;
  background: transparent;
  padding: 0;
  margin-bottom: 1rem; /* Adjust as needed */
}

.accordion-section .panel-title a {
  display: block;
  font-style: italic;
  font-size: 1.5rem;
  color: #f1f3f3; /* Set the text color */
}

.accordion-section .panel-title a:after {
  font-family: 'FontAwesome';
  font-style: normal;
  font-size: 3rem;
  content: "\f106";
  color: #1f7de2;
  float: right;
  margin-top: -12px;
}

.accordion-section .panel-title a.collapsed:after {
  content: "\f107";
}

.accordion-section .panel-body {
  font-size: 1.2rem;
  color: #f1f3f3; /* Set the text color */
}
