* {
  font-family: 'Cabin', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* background: linear-gradient(#FFFFFF, #CFC7DE, #B0A4C9, #4B2E83); */
  background-repeat: no-repeat;
  background-position: top;
  overflow-x: hidden;
}

.navbar {
  z-index: 2;
  padding-left: 1%;
  padding-right: 1%;
}

.navbar-brand img {
  height: 3em;
}

.navbar-collapse {
  padding-left: 0%;
}

.call-to-action-text {
  color: black;
}

.nav-item,
.nav-link {
  color: #ffffff;
  text-decoration: none; /* Remove default underline */
  padding-top: 15px;
}

.nav-item:hover,
.nav-link:hover {
  color: #85754D; /* Change text color to purple on hover */
  text-decoration: underline; /* Underline on hover */
}

.navactive {
  color: #fff;
  font-weight: bold;
  text-decoration: underline; /* Underline the current page */
}

.static-navbar {
  background-color: #4B2E83;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  z-index: 5;
  color: white;
  font-size: 18px;
}

.static-navbar-transparent {
  background-color: white;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  z-index: 5;
}





/* Header */
.header-spacing {
  padding-top: 100px;
}

.vector-mountain {
  max-width: 370px;
  width: 70%;
  object-fit: cover;
}

.main-intro-text {
  font-weight: 600;
  color: #4B2E83;
  background-image: linear-gradient(to right, #4b2e83, #85754D, #85754d96);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  background-size: 300%;
  background-position: -100%;
  animation: animatedText 8s infinite alternate-reverse;
}

@keyframes animatedText{
  to {
      background-position: 100%;
  }
}

.header-component {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.header-component-title {
  flex-basis: 55%;
  text-align: left;
  display: block;
  padding-top: 5%;
}

.header-component-title h4 {
  color: #85754D;
  font-weight: bold;
}

.header-component-image {
  flex-basis: 45%;
  text-align: center;
  padding-top: 2%;
  justify-content: center;
}

.header-component-image img {
  max-width: 90%;
  max-height: 70%;
  height: auto;
}

.btn-primary {
  background-color: #4B2E83;
  border-radius: 50px;
  border: none;
  padding: 5px 15px;
  margin-right: 5px;
}

.btn-primary:hover {
  background-color: rgba(196, 183, 224, 0.1);
  border-radius: 50px;
  box-shadow: 0px 0px 0px 2px #85754D;
  color: #000;
  padding: 5px 15px;
  transition: 250ms ease-in-out;
}

.btn-secondary {
  background-color: rgb(255, 255, 255);
  border-radius: 50px;
  color: #000;
}

.btn-secondary:hover {
  background-color: #4B2E83;
  border-radius: 50px;
  box-shadow: none;
  transition: 250ms ease-in-out;
}

.btn-secondary-alternate {
  background-color: rgba(83, 75, 100, 0.1);
  border-radius: 50px;
  box-shadow: 4px 4px 0px 0px #fff;
  color: #fff;
  border: 2px solid #fff;
}

.btn-secondary-alternate:hover {
  background-color: #ffffff;
  border-radius: 50px;
  box-shadow: none;
  transition: 250ms ease-in-out;
  color: #000;
}

@media (max-width: 800px) {

  .header-component-title,
  .header-component-image {
    flex-basis: 100%;
    text-align: center;
    padding: 15px;
  }
}

.main-intro-subtext {
  font-size: 20px;
}

/* Features Cards */
.top-features-cards {
  margin: 50px 25px 75px;
  margin-top: 100px;
}

.top-features-cards:after {
  display: flex;
  justify-content: space-between;
}

.tfc-column {
  float: left;
  width: 25%;
  padding: 0 10px;
}

.tfc-card {
  border-radius: 35px;
  box-shadow: 0 4px 8px 0 rgba(196, 183, 224, 0.9);
  padding: 16px 20px;
  background-color: #6648a1;
}

.tfc-card p {
  color: white;
}

.tfc-card-title {
  width: 100%;
  color: white;
}

.tfc-card-title i {
  padding-left: 5%;
}

.tfc-card-title h3 {
  display: inline-block;
}

.tfc-card-title i {
  font-size: 20px;
  color: #ffffff;
  display: inline-block;
}

@media screen and (max-width: 1100px) {
  .tfc-column {
    width: 50%;
    display: block;
    margin-bottom: 25px;
  }
}

@media screen and (max-width: 550px) {
  .tfc-column {
    width: 100%;
    display: block;
    margin-bottom: 25px;
  }
}










/* Accordion */
.custom-accordion {
  width: 75%;
  margin: 0 auto;
}

.custom-accordion .card {
  border: none;
  margin-bottom: 10px;
  padding: 10px;
}

.row-alternate {
  --bs-gutter-x:1.5rem;
  --bs-gutter-y:1.5rem;
  display:flex;
  flex-wrap:wrap;
  margin-top:calc(-1 * var(--bs-gutter-y));
  margin-left: 10px;
  margin-right: 10px;
}

.row {
  --bs-gutter-x:1.5rem;
  --bs-gutter-y:1.5rem;
  display:flex;
  flex-wrap:wrap;
  margin-top:calc(-1 * var(--bs-gutter-y));
  margin-right:calc(-.5 * var(--bs-gutter-x));
  margin-left:calc(-.5 * var(--bs-gutter-x))
}

.custom-accordion .card-header {
  background-color: transparent;
  cursor: pointer;
}

.custom-accordion .card-header h2 {
  margin: 0;
}

.custom-accordion .card-header::after {
  font-family: 'Cabin', sans-serif;
  content: "\f078";
  float: right;
  color: #000;
  font-weight: bold;
}

.custom-accordion .card-header.collapsed::after {
  content: "\f077";
}

.custom-accordion .card-body {
  display: none;
  padding: 10px;
}










/* Know Where You Stand */
.component {
  padding-bottom: 30px;
  color: #ffffff;
}

.component-columns {
  display: flex;
  flex-wrap: wrap;
}

.component-column {
  flex-basis: 50%;
  padding: 5px;
}

.component-image {
  height: 100%;
  max-width: 100%;
}

.component-content {
  text-align: left;
}

.component-title {
  margin-top: 10px;
}

.component-text {
  margin-top: 20px;
  text-align: center;
}

.component-button {
  margin-top: 10px;
}

@media (max-width: 600px) {
  .component-column {
    flex-basis: 100%;
  }
}










/* Footer */
.footer {
  margin-top: 15px;
  color: #f4f4f4;
  background-color: #4B2E83;
  text-align: left;
}

.footer a {
  text-decoration: none;
}

.footer h4, h5{
  color: #85754D;
  font-weight: bolder;
}

@media (max-width: 900px) {
  .footer {
    text-align: center;
  }
}










/* FAQ */
.faq-heading {
  width: 86%;
  margin-left: 7%;
}

.faq-heading hr {
  line-height: 4px;
}

.faq-accordion {
  border-radius: 15px;
  background-color: #D3CDE0;
  cursor: pointer;
  padding: 20px;
  width: 86%;
  margin-left: 7%;
  margin-bottom: 10px;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
  border: none;
}

.active,
.faq-accordion:hover {
  border-radius: 30px;
  transition: 0.3s ease-in-out;
  background-color: #f7f7f7;
}

.faq-accordion:after {
  content: '\002B';
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.faq-active:after {
  content: "\2212";
}

.faq-panel {
  padding: 0 18px;
  width: 84%;
  margin-left: 8%;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}










/* Statistics Card*/
.card {
  position: relative;
  box-shadow: 0 4px 8px 0 rgba(196, 183, 224, 0.9);
  background-color: #fff;
  margin-bottom: 1.25rem;
  border: 1px solid #edf2f9;
  border-radius: 30px;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

.card-body {
  padding: 1.5rem;
  position: relative;
}

.card-body .h2 {
  font-size: 24px;
}

.badge-cyan {
  color: white;
  background: #4B2E83;
  border-color: transparent;
  font-weight: 500;
}

.badge {
  line-height: 1.7;
  padding: 0.25em 0.7em;
}

.badge.badge-dot {
  width: 7px;
  height: 7px;
  border-radius: 50px;
  padding: 0px;
}

.font-size-13 {
  font-size: 13px !important;
}

.progress-bar:last-child {
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}

.progress.progress-sm {
  height: 4px;
}

.progress {
  height: 8px;
  background-color: #ececec;
  border-radius: 50px;
  margin-bottom: 20px;
  min-width: 50px;
}

.badge.badge-dot:empty {
  display: inline-block;
}

.badge.badge-dot {
  width: 7px;
  height: 7px;
  border-radius: 50px;
  padding: 0px;
}

.badge-red {
  color: #de4436;
  background: rgba(222, 68, 54, 0.05);
  border-color: transparent;
  font-weight: 500;
}









/* about */
.about-team-card {
  padding: 20px;
  border-radius: 30px;
}

.about-team-card p {
  text-align: center;
}

.social-link {
  width: 30px;
  height: 30px;
  border: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #666;
  border-radius: 50%;
  transition: all 0.3s;
  font-size: 0.9rem;
}









/* testimonials */
.testimonial-slider {
  background-color: #4B2E83;
  padding: 3em 2em;
}
.testimonial-title {
  color: #fff;
}
.testimonial-title h2 {
  padding-left: 0.2em;
}
.testimonials-title-text {
  font-weight: 450;
  font-family: 'Cabin', sans-serif;
}
.card {
  margin: 0 0.5em;
  box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
  border: none;
  height: 100%;
  border:4px solid #4a2e83b9;
}
.carousel-control-prev,
.carousel-control-next {
  background-color: #fff;
  width: 3em;
  height: 3em;
  border-radius: 30px;
  top: 60%;
  transform: translateY(-50%);
  box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
}


.container{
  /* CHANGE BACK */
  background-color: transparent;
  fill: none;
  border-color: white;
}

.container-bottom {
  /* CHANGE BACK */
  background-color: transparent;
  fill: none;
  border-color: white;
  align-items: center;
  text-align: center;
}

.container-margin {
  margin-top: 100px; /* Add a top margin to avoid content overlay */
  margin-bottom: 100px;
  max-width: 80%;
}


/* CROWDFUND CSS */
.crowdsource-body {
  display: flex;
  justify-content: center;
  align-items: center;
  /* backgrund: linear-gradient(300deg, #845CD1 0%, #FFF 94.79%); */
  background: none;
}

.tfc-column-crowdsource {
  float: left;
  padding:  10px;
}

.tfc-card-crowdsource {
  border-radius: 35px;
  box-shadow: 0 4px 8px 0 rgba(196, 183, 224, 0.9);
  padding: 16px 20px;
  background-color: #6648a1;
}

.tfc-card-crowdsource li {
  font-size: 15px;
  color: #ffffff;
}

.tfc-card-crowdsource p {
  font-family: 'Cabin', sans-serif;
  color: white;
}

.tfc-card-title-crowdsource {
  width: 100%;
  color: white;
}

.tfc-card-title-crowdsource i {
  padding-left: 5%;
}

.tfc-card-title-crowdsource h3 {
  display: inline-block;
}

.tfc-card-title-crowdsource i {
  font-size: 20px;
  color: #ffffff;
  display: inline-block;
}

.background-page {
  background: linear-gradient(180deg, rgba(75, 46, 131, 0.90) 0%, rgba(75, 46, 131, 0.50) 57.29%, rgba(133, 117, 77, 0.74) 100%);
  box-shadow: 0px 4px 25px 4px #4B2E83;
  border-radius: 45px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 90%;
  max-height: 90%;
}

.crowdsource-vector-mountain {
  max-width: 500px;
  object-fit: cover;
}

.main-intro-text-alternate {
  font-weight: 600;
  color: #4B2E83;
  background-image: linear-gradient(to right, #4b2e83, #85754D, #85754d96);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  background-size: 300%;
  background-position: -100%;
  animation: animatedText 8s infinite alternate-reverse;
  text-align: left;
  font-size: 45px;
  font-family: 'Cabin', sans-serif;
}

.back-home{
  position: absolute; /* Add position absolute to adjust the positioning */
  top: 122px; /* Adjust the top value to move it higher */
  left: 130px; /* Adjust the left value to move it towards the left */
  z-index: 10;
  font-weight: bold;
}

.crowdsource-text h1{
  position: absolute; /* Add position absolute to adjust the positioning */
  top: 100px; /* Adjust the top value to move it higher */
  left: 228px; /* Adjust the left value to move it towards the left */
  z-index: 10;
  font-weight: bold;
}

.crowdsource-intro-text {
  text-align: center;
  margin: 0 auto;
  font-weight: 550;
  color: #4B2E83;
  margin-top: 35px;
}

.crowdsource-container-form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.crowdsource-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.crowdsource-button-label {
  padding: 5px;
  margin-right: 5px;
}

.crowdsource-page-intro {
  display: flex;
  justify-content: center;
  align-items: center;
}

.crowdsource-page-cta {
  display: flex;
  align-items: center;
  margin: 0px 0px 0px 0px;
}

.crowdsource-page-cta p {
  text-align: left;
  max-width: 700px;
  font-size: 20px;
  color: black;
  font-family: 'Cabin', sans-serif;
  margin: 20px 0px 0px 0px;
  padding: 0rem;
}

.cta-purple {
  color: #4b2e83;
  font-weight: 600;
}

.fa-arrow-left {
  font-size: 24px; /* Adjust the font-size value to make the icon larger */
}

.fa-arrow-left:hover {
  transform: scale(1.2);
  color: #4B2E83;
  cursor: pointer;
}

.crowdsource-form {
  display: flex;
  margin-left: 730px;
}

.tfc-column2 {
  position: absolute; /* Add position absolute to adjust the positioning */
  top: 195px; /* Adjust the top value to move it higher */
  left: 175px; /* Adjust the left value to move it towards the left */
  z-index: 10;
  max-width: 500px;
}

.tfc-column3 {
  position: absolute; /* Add position absolute to adjust the positioning */
  top: 455px; /* Adjust the top value to move it higher */
  left: 110px; /* Adjust the left value to move it towards the left */
  z-index: 10;
  max-width: 250px;
}

.tfc-column4 {
  position: absolute; /* Add position absolute to adjust the positioning */
  top: 455px; /* Adjust the top value to move it higher */
  left: 490px; /* Adjust the left value to move it towards the left */
  z-index: 10;
  max-width: 250px;
}

/* Contact Form */
#regForm {
  background-color: #ffffff;
  margin: 0px auto;
  font-family: Raleway;
  padding: 40px;
  border-radius: 10px
}

#register{

color: #6A1B9A;
}

h1#register {
  text-align: center;
}

input {
  padding: 10px;
  width: 100%;
  font-size: 17px;
  font-family: Raleway;
  border: 1px solid #aaaaaa;
  border-radius: 10px;
  -webkit-appearance: none;
}

.tab input:focus{

border:1px solid #6a1b9a !important;
outline: none;
}

input.invalid {

  border:1px solid #e03a0666;
}

.tab {
  display: none
}

button {
  background-color: #6A1B9A;
  color: #ffffff;
  border: none;
  border-radius: 50%;
  padding: 10px 20px;
  font-size: 17px;
  font-family: Raleway;
  cursor: pointer
}

button:hover {
  opacity: 0.8
}

button:focus{

outline: none !important;
}

#prevBtn {
  background-color: #bbbbbb
}


.all-steps{
    text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 100%;
  display: inline-flex;
  justify-content: center;
}

.step {
     height: 40px;
  width: 40px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  color: #4B2E83;
  opacity: 0.5;
}

.step.active {
  opacity: 1
}


.step.finish {
 color: #fff;
 background: #4B2E83;
 opacity: 1;

}



.all-steps {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px
}

.thanks-message {
  display: none
}








@media (min-width: 576px) {
  .carousel-item {
    margin-right: 0;
    flex: 0 0 50%;
    display: block;
  }
  .carousel-inner {
    display: flex;
  }
}
@media (min-width: 768px) {
  .carousel-inner {
    padding: 1em;
  }
  .carousel-control-prev,
  .carousel-control-next {
    width: 3em;
    height: 3em;
    position: absolute;
    left: 1em;
    top: 90%;
    opacity: 1;
  }
  .carousel-control-next {
    left: 4.5em;
  }
}

/* SCROLLING DIV CSS */

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.logos {
  overflow: hidden;
  padding: 30px 0;
  background: white;
  white-space: nowrap;
  position: relative;
  border-top:2px solid #4B2E83;
}

.logos:before,
.logos:after {
  position: absolute;
  top: 0;
  width: 250px;
  height: 100%;
  content: "";
  z-index: 2;
}

.logos:before {
  left: 0;
  /* background: linear-gradient(to left, rgba(255, 255, 255, 0), white); */
}

.logos:after {
  right: 0;
  /* background: linear-gradient(to right, rgba(255, 255, 255, 0), white); */
}

/* .logos:hover .logos-slide {
  animation-play-state: paused;
} */

.logos-slide {
  display: inline-block;
  animation: 35s slide infinite linear;
}

.logos-slide img {
  height: 50px;
  margin: 0 40px;
}