* {
  font-family: 'Cabin', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(#FFFFFF, #CFC7DE, #B0A4C9, #4B2E83);
  background-repeat: no-repeat;
  background-position: top;
  overflow-x: hidden;
}

.navbar {
  z-index: 2;
  padding-left: 1%;
  padding-right: 1%;
  background-color: #fff;
}

.navbar-brand img {
  height: 3em;
}

.navbar-collapse {
  padding-left: 0%;
}

.nav-item,
.nav-link {
  color: #7F7F7F;
}

.navactive {
  color: #4B2E83;
}

.static-navbar {
  background-color: transparent;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  z-index: 5;
}











/* Header */
.vector-mountain {
  width: 65%;
  object-fit: cover;
}

.main-intro-text {
  font-weight: 550;
  color: #4B2E83;
}

.header-component {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.header-component-title {
  flex-basis: 50%;
  text-align: left;
  display: block;
  padding-top: 5%;
}

.header-component-title h4 {
  color: #4B2E83;
}

.header-component-image {
  flex-basis: 50%;
  text-align: center;
  padding-top: 2%;
}

.header-component-image img {
  max-width: 100%;
  height: auto;
}

.btn-primary {
  background-color: #4B2E83;
  border-radius: 50px;
  border: none;
  padding: 5px 15px;
  margin-right: 5px;
}

.btn-primary:hover {
  background-color: rgba(196, 183, 224, 0.1);
  border-radius: 50px;
  box-shadow: 0px 0px 0px 2px #85754D;
  color: #000;
  padding: 5px 15px;
  transition: 250ms ease-in-out;
}

.btn-secondary {
  background-color: rgba(196, 183, 224, 0.1);
  border-radius: 50px;
  box-shadow: 0px 0px 0px 0.5px #85754D;
  color: #000;
}

.btn-secondary:hover {
  background-color: #4B2E83;
  border-radius: 50px;
  box-shadow: none;
  transition: 250ms ease-in-out;
}

@media (max-width: 800px) {

  .header-component-title,
  .header-component-image {
    flex-basis: 100%;
    text-align: center;
    padding: 15px;
  }
}










/* Features Cards */
.top-features-cards {
  margin: 25px 75px;
  margin-top: 100px;
}

.top-features-cards:after {
  display: flex;
  justify-content: space-between;
}

.tfc-column {
  float: left;
  width: 25%;
  padding: 0 10px;
}

.tfc-card {
  border-radius: 35px;
  box-shadow: 0 4px 8px 0 rgba(196, 183, 224, 0.9);
  padding: 16px 20px;
  background-color: #ffffff;
}

.tfc-card-title {
  width: 100%;
}

.tfc-card-title i {
  padding-left: 5%;
}

.tfc-card-title h3 {
  display: inline-block;
}

.tfc-card-title i {
  font-size: 20px;
  color: #85754D;
  display: inline-block;
}

@media screen and (max-width: 1100px) {
  .tfc-column {
    width: 50%;
    display: block;
    margin-bottom: 25px;
  }
}

@media screen and (max-width: 550px) {
  .tfc-column {
    width: 100%;
    display: block;
    margin-bottom: 25px;
  }
}










/* Accordion */
.custom-accordion {
  width: 75%;
  margin: 0 auto;
}

.custom-accordion .card {
  border: none;
  margin-bottom: 10px;
  padding: 10px;
}

.row {
  --bs-gutter-x:1.5rem;
  --bs-gutter-y:1.5rem;
  display:flex;
  flex-wrap:wrap;
  margin-top:calc(-1 * var(--bs-gutter-y));
  margin-right:calc(-.5 * var(--bs-gutter-x));
  margin-left:calc(-.5 * var(--bs-gutter-x))
}

.custom-accordion .card-header {
  background-color: transparent;
  cursor: pointer;
}

.custom-accordion .card-header h2 {
  margin: 0;
}

.custom-accordion .card-header::after {
  font-family: 'Cabin', sans-serif;
  content: "\f078";
  float: right;
  color: #000;
  font-weight: bold;
}

.custom-accordion .card-header.collapsed::after {
  content: "\f077";
}

.custom-accordion .card-body {
  display: none;
  padding: 10px;
}










/* Know Where You Stand */
.component {
  padding: 20px;
  color: #ffffff;
}

.component-columns {
  display: flex;
  flex-wrap: wrap;
}

.component-column {
  flex-basis: 50%;
  padding: 5px;
}

.component-image {
  height: 100%;
  max-width: 100%;
}

.component-content {
  text-align: left;
}

.component-title {
  margin-top: 10px;
}

.component-text {
  margin-top: 20px;
}

.component-button {
  margin-top: 10px;
}

@media (max-width: 600px) {
  .component-column {
    flex-basis: 100%;
  }
}










/* Footer */
.footer {
  margin-top: 15px;
  color: #f4f4f4;
  background-color: #4B2E83;
  padding: 20px;
  text-align: left;
}

.footer a {
  text-decoration: none;
}

@media (max-width: 900px) {
  .footer {
    text-align: center;
  }
}










/* FAQ */
.faq-heading {
  width: 86%;
  margin-left: 7%;
}

.faq-heading hr {
  line-height: 4px;
}

.faq-accordion {
  border-radius: 15px;
  background-color: #D3CDE0;
  cursor: pointer;
  padding: 20px;
  width: 86%;
  margin-left: 7%;
  margin-bottom: 10px;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
  border: none;
}

.active,
.faq-accordion:hover {
  border-radius: 30px;
  transition: 0.3s ease-in-out;
  background-color: #f7f7f7;
}

.faq-accordion:after {
  content: '\002B';
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.faq-active:after {
  content: "\2212";
}

.faq-panel {
  padding: 0 18px;
  width: 84%;
  margin-left: 8%;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}










/* Statistics Card*/
.card {
  position: relative;
  box-shadow: 0 4px 8px 0 rgba(196, 183, 224, 0.9);
  background-color: #fff;
  margin-bottom: 1.25rem;
  border: 1px solid #edf2f9;
  border-radius: 30px;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

.card-body {
  padding: 1.5rem;
  position: relative;
}

.card-body .h2 {
  font-size: 24px;
}

.badge-cyan {
  color: white;
  background: #4B2E83;
  border-color: transparent;
  font-weight: 500;
}

.badge {
  line-height: 1.7;
  padding: 0.25em 0.7em;
}

.badge.badge-dot {
  width: 7px;
  height: 7px;
  border-radius: 50px;
  padding: 0px;
}

.font-size-13 {
  font-size: 13px !important;
}

.progress-bar:last-child {
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}

.progress.progress-sm {
  height: 4px;
}

.progress {
  height: 8px;
  background-color: #ececec;
  border-radius: 50px;
  margin-bottom: 20px;
  min-width: 50px;
}

.badge.badge-dot:empty {
  display: inline-block;
}

.badge.badge-dot {
  width: 7px;
  height: 7px;
  border-radius: 50px;
  padding: 0px;
}

.badge-red {
  color: #de4436;
  background: rgba(222, 68, 54, 0.05);
  border-color: transparent;
  font-weight: 500;
}









/* about */
.about-team-card {
  padding: 20px;
  border-radius: 30px;
}

.about-team-card p {
  text-align: center;
}

.social-link {
  width: 30px;
  height: 30px;
  border: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #666;
  border-radius: 50%;
  transition: all 0.3s;
  font-size: 0.9rem;
}









/* testimonials */
.testimonial-slider {
  background-color: #4B2E83;
  padding: 3em 2em;
}
.testimonial-title {
  color: #fff;
}
.testimonial-title h2 {
  padding-left: 0.2em;
}
.testimonials-title-text {
  font-weight: 450;
  font-family: 'Cabin', sans-serif;
}
.card {
  margin: 0 0.5em;
  box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
  border: none;
  height: 100%;
}
.carousel-control-prev,
.carousel-control-next {
  background-color: #fff;
  width: 3em;
  height: 3em;
  border-radius: 30px;
  top: 60%;
  transform: translateY(-50%);
  box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
}




/* Login PAGE */

.login-body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background: linear-gradient(135deg, #845CD1 0%, #FFF 94.79%);
}

.background-page {
  background: linear-gradient(180deg, rgba(75, 46, 131, 0.90) 0%, rgba(75, 46, 131, 0.50) 57.29%, rgba(133, 117, 77, 0.74) 100%);
  box-shadow: 0px 4px 25px 4px #4B2E83;
  border-radius: 45px;
  padding: 250px;
  padding-inline: 650px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 700px;
}

.logo {
  max-width: 150px;
  margin-bottom: 20px;
}

.login-body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background: linear-gradient(135deg, #845CD1 0%, #FFF 94.79%);
}


.container{
  /* CHANGE BACK */
  background-color: transparent;
  fill: none;
  border-color: white;
}

.container-bottom {
  /* CHANGE BACK */
  background-color: transparent;
  fill: none;
  border-color: white;
  align-items: center;
  text-align: center;
}

.container-margin {
  margin-top: 100px; /* Add a top margin to avoid content overlay */
  margin-bottom: 100px;
}














@media (min-width: 576px) {
  .carousel-item {
    margin-right: 0;
    flex: 0 0 50%;
    display: block;
  }
  .carousel-inner {
    display: flex;
  }
}
@media (min-width: 768px) {
  .carousel-inner {
    padding: 1em;
  }
  .carousel-control-prev,
  .carousel-control-next {
    width: 3em;
    height: 3em;
    position: absolute;
    left: 1em;
    top: 90%;
    opacity: 1;
  }
  .carousel-control-next {
    left: 4.5em;
  }
}