.alternate-w-icon-art {
    background-color: rgba(255, 255, 255, 1);
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .alternate-w-icon-art .div {
    background: linear-gradient(180deg, rgb(255, 255, 255) 0%, rgb(207, 18, 199) 14.06%, rgb(176, 163, 200) 43.75%, rgb(75, 46, 131) 99.98%, rgb(75, 46, 131) 99.99%);
    background-color: rgba(255, 255, 255, 1);
    border: 1px none;
    height: 3516px;
    overflow: hidden;
    position: relative;
    width: 1920px;
  }
  
  .alternate-w-icon-art .overlap {
    height: 500px;
    left: 185px;
    position: absolute;
    top: 661px;
    width: 1568px;
  }
  
  .alternate-w-icon-art .features-subpage {
    height: 500px;
    left: 0;
    position: absolute;
    top: 0;
    width: 1568px;
  }
  
  .alternate-w-icon-art .overlap-group {
    background-color: #ffffff;
    border-radius: 57px;
    height: 500px;
    position: relative;
    width: 1550px;
  }
  
  .alternate-w-icon-art .FEATURES {
    color: #000000;
    font-family: "Cabin", Helvetica;
    font-size: 22px;
    font-weight: 700;
    left: 40px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 24px;
    white-space: nowrap;
    width: 202px;
  }
  
  .alternate-w-icon-art .text-wrapper {
    color: #000000;
    font-family: "Cabin", Helvetica;
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .alternate-w-icon-art .accurate-data-SAMPLE {
    color: #000000;
    font-family: "Cabin", Helvetica;
    font-size: 32px;
    font-weight: 400;
    left: 114px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 87px;
    width: 379px;
  }
  
  .alternate-w-icon-art .span {
    color: #000000;
    font-family: "Cabin", Helvetica;
    font-size: 32px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .alternate-w-icon-art .overlap-2 {
    height: 172px;
    left: 52px;
    position: absolute;
    top: 138px;
    width: 456px;
  }
  
  .alternate-w-icon-art .we-aim-to-make-our {
    color: #000000;
    font-family: "Cabin", Helvetica;
    font-size: 22px;
    font-weight: 400;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
    width: 456px;
  }
  
  .alternate-w-icon-art .text-wrapper-2 {
    color: #000000;
    font-family: "Cabin", Helvetica;
    font-size: 22px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .alternate-w-icon-art .feature {
    color: #000000;
    font-family: "Cabin", Helvetica;
    font-size: 32px;
    font-weight: 400;
    left: 62px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 128px;
    width: 143px;
  }
  
  .alternate-w-icon-art .text-wrapper-3 {
    color: #000000;
    font-family: "Cabin", Helvetica;
    font-size: 32px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .alternate-w-icon-art .ellipse {
    background-color: #4b2e83;
    border-radius: 23px;
    height: 46px;
    left: 1px;
    position: absolute;
    top: 126px;
    width: 46px;
  }
  
  .alternate-w-icon-art .ellipse-2 {
    background-color: #4b2e83;
    border-radius: 23px;
    height: 46px;
    left: 52px;
    position: absolute;
    top: 85px;
    width: 46px;
  }
  
  .alternate-w-icon-art .lorem-ipsum-dolor {
    color: #000000;
    font-family: "Cabin", Helvetica;
    font-size: 22px;
    font-weight: 400;
    left: 53px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 320px;
    width: 455px;
  }
  
  .alternate-w-icon-art .text-wrapper-4 {
    color: #000000;
    font-family: "Cabin", Helvetica;
    font-size: 22px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
  }
  .alternate-w-icon-art .specific-insights {
    color: #000000;
    font-family: "Cabin", Helvetica;
    font-size: 32px;
    font-weight: 400;
    left: 606px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 87px;
    width: 259px;
  }
  
  .alternate-w-icon-art .text-wrapper-5 {
    color: #000000;
    font-family: "Cabin", Helvetica;
    font-size: 32px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .alternate-w-icon-art .overlap-3 {
    height: 172px;
    left: 544px;
    position: absolute;
    top: 138px;
    width: 456px;
  }
  
  .alternate-w-icon-art .span-wrapper {
    color: #000000;
    font-family: "Cabin", Helvetica;
    font-size: 22px;
    font-weight: 400;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
    width: 456px;
  }
  
  .alternate-w-icon-art .text-wrapper-6 {
    color: #000000;
    font-family: "Cabin", Helvetica;
    font-size: 22px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .alternate-w-icon-art .feature-2 {
    color: #000000;
    font-family: "Cabin", Helvetica;
    font-size: 32px;
    font-weight: 400;
    left: 62px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 128px;
    width: 143px;
  }
  
  .alternate-w-icon-art .text-wrapper-7 {
    color: #000000;
    font-family: "Cabin", Helvetica;
    font-size: 32px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .alternate-w-icon-art .ellipse-3 {
    background-color: #4b2e83;
    border-radius: 23px;
    height: 46px;
    left: 1px;
    position: absolute;
    top: 126px;
    width: 46px;
  }
  
  .alternate-w-icon-art .ellipse-4 {
    background-color: #4b2e83;
    border-radius: 23px;
    height: 46px;
    left: 544px;
    position: absolute;
    top: 85px;
    width: 46px;
  }
  
  .alternate-w-icon-art .p {
    color: #000000;
    font-family: "Cabin", Helvetica;
    font-size: 22px;
    font-weight: 400;
    left: 545px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 320px;
    width: 455px;
  }
  
  .alternate-w-icon-art .text-wrapper-8 {
    color: #000000;
    font-family: "Cabin", Helvetica;
    font-size: 22px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .alternate-w-icon-art .rectangle-wrapper {
    height: 403px;
    left: 529px;
    position: absolute;
    top: 46px;
    width: 965px;
  }
  
  .alternate-w-icon-art .rectangle {
    background-color: #4b2e83;
    border-radius: 43px;
    height: 403px;
    left: 512px;
    position: relative;
    width: 453px;
  }
  
  .alternate-w-icon-art .supported-majors-sub {
    height: 500px;
    left: 185px;
    position: absolute;
    top: 1211px;
    width: 1552px;
  }
  
  .alternate-w-icon-art .overlap-4 {
    background-color: #ffffff;
    border-radius: 57px;
    height: 500px;
    position: relative;
    width: 1550px;
  }
  
  .alternate-w-icon-art .image {
    height: 121px;
    left: 1138px;
    object-fit: cover;
    position: absolute;
    top: 192px;
    width: 278px;
  }
  
  .alternate-w-icon-art .img {
    height: 95px;
    left: 1076px;
    object-fit: cover;
    position: absolute;
    top: 87px;
    width: 402px;
  }
  
  .alternate-w-icon-art .nicepng-university {
    height: 117px;
    left: 670px;
    object-fit: cover;
    position: absolute;
    top: 133px;
    width: 380px;
  }
  
  .alternate-w-icon-art .COE-UW-CTR-purp {
    height: 147px;
    left: 241px;
    object-fit: cover;
    position: absolute;
    top: 109px;
    width: 384px;
  }
  
  .alternate-w-icon-art .ischoolsecondary-RGB {
    height: 174px;
    left: 51px;
    position: absolute;
    top: 99px;
    width: 152px;
  }
  
  .alternate-w-icon-art .SUPPORTED-MAJORS {
    color: #000000;
    font-family: "Cabin", Helvetica;
    font-size: 22px;
    font-weight: 700;
    left: 40px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 30px;
    white-space: nowrap;
    width: 290px;
  }
  
  .alternate-w-icon-art .text-wrapper-9 {
    color: #000000;
    font-family: "Cabin", Helvetica;
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .alternate-w-icon-art .image-2 {
    height: 80px;
    left: 660px;
    position: absolute;
    top: 334px;
    width: 542px;
  }
  
  .alternate-w-icon-art .image-3 {
    height: 104px;
    left: 51px;
    position: absolute;
    top: 322px;
    width: 545px;
  }
  
  .alternate-w-icon-art .testimonials {
    height: 561px;
    left: 185px;
    position: absolute;
    top: 1761px;
    width: 1570px;
  }
  
  .alternate-w-icon-art .overlap-5 {
    background-color: #ffffff;
    border-radius: 57px;
    height: 561px;
    position: relative;
    width: 1550px;
  }
  
  .alternate-w-icon-art .overlap-6 {
    background-color: #ffffff;
    border-radius: 15px;
    height: 390px;
    left: 160px;
    position: absolute;
    top: 82px;
    width: 384px;
  }
  .alternate-w-icon-art .INFORMATICS {
    color: #6e6e6e;
    font-family: "Cabin", Helvetica;
    font-size: 14px;
    font-weight: 400;
    left: 133px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 179px;
    width: 119px;
  }
  
  .alternate-w-icon-art .text-wrapper-10 {
    color: #6e6e6e;
    font-family: "Cabin", Helvetica;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .alternate-w-icon-art .SIMON-KURGAN {
    color: #000000;
    font-family: "Cabin", Helvetica;
    font-size: 22px;
    font-weight: 700;
    left: 111px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 149px;
    width: 162px;
  }
  
  .alternate-w-icon-art .text-wrapper-11 {
    color: #000000;
    font-family: "Cabin", Helvetica;
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .alternate-w-icon-art .dscf {
    height: 123px;
    left: 133px;
    position: absolute;
    top: 14px;
    width: 117px;
  }
  
  .alternate-w-icon-art .this-website-cured {
    color: #000000;
    font-family: "Cabin", Helvetica;
    font-size: 22px;
    font-weight: 400;
    left: 27px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 211px;
    width: 331px;
  }
  
  .alternate-w-icon-art .text-wrapper-12 {
    color: #000000;
    font-family: "Cabin", Helvetica;
    font-size: 22px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .alternate-w-icon-art .overlap-group-2 {
    background-color: #ffffff;
    border-radius: 15px;
    height: 414px;
    left: 583px;
    position: absolute;
    top: 72px;
    width: 384px;
  }
  
  .alternate-w-icon-art .INFORMATICS-2 {
    color: #6e6e6e;
    font-family: "Cabin", Helvetica;
    font-size: 14px;
    font-weight: 400;
    left: 133px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 188px;
    width: 119px;
  }
  
  .alternate-w-icon-art .text-wrapper-13 {
    color: #6e6e6e;
    font-family: "Cabin", Helvetica;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .alternate-w-icon-art .SIMON-KURGAN-2 {
    color: #000000;
    font-family: "Cabin", Helvetica;
    font-size: 22px;
    font-weight: 700;
    left: 111px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 158px;
    width: 162px;
  }
  
  .alternate-w-icon-art .text-wrapper-14 {
    color: #000000;
    font-family: "Cabin", Helvetica;
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .alternate-w-icon-art .dscf-2 {
    height: 123px;
    left: 133px;
    position: absolute;
    top: 23px;
    width: 117px;
  }
  
  .alternate-w-icon-art .lorem-ipsum-dolor-2 {
    color: #000000;
    font-family: "Cabin", Helvetica;
    font-size: 22px;
    font-weight: 400;
    left: 27px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 220px;
    width: 331px;
  }
  
  .alternate-w-icon-art .text-wrapper-15 {
    color: #000000;
    font-family: "Cabin", Helvetica;
    font-size: 22px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .alternate-w-icon-art .overlap-7 {
    background-color: #ffffff;
    border-radius: 15px;
    height: 390px;
    left: 1006px;
    position: absolute;
    top: 82px;
    width: 384px;
  }
  
  .alternate-w-icon-art .INFORMATICS-3 {
    color: #6e6e6e;
    font-family: "Cabin", Helvetica;
    font-size: 14px;
    font-weight: 400;
    left: 133px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 179px;
    width: 119px;
  }
  
  .alternate-w-icon-art .text-wrapper-16 {
    color: #6e6e6e;
    font-family: "Cabin", Helvetica;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .alternate-w-icon-art .SIMON-KURGAN-3 {
    color: #000000;
    font-family: "Cabin", Helvetica;
    font-size: 22px;
    font-weight: 700;
    left: 111px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 149px;
    width: 162px;
  }
  
  .alternate-w-icon-art .text-wrapper-17 {
    color: #000000;
    font-family: "Cabin", Helvetica;
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .alternate-w-icon-art .dscf-3 {
    height: 123px;
    left: 133px;
    position: absolute;
    top: 14px;
    width: 117px;
  }
  
  .alternate-w-icon-art .lorem-ipsum-dolor-3 {
    color: #000000;
    font-family: "Cabin", Helvetica;
    font-size: 22px;
    font-weight: 400;
    left: 27px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 211px;
    width: 331px;
  }
  
  .alternate-w-icon-art .text-wrapper-18 {
    color: #000000;
    font-family: "Cabin", Helvetica;
    font-size: 22px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .alternate-w-icon-art .TESTIMONIALS {
    color: #000000;
    font-family: "Cabin", Helvetica;
    font-size: 22px;
    font-weight: 700;
    left: 40px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 30px;
    white-space: nowrap;
    width: 290px;
  }
  
  .alternate-w-icon-art .text-wrapper-19 {
    color: #000000;
    font-family: "Cabin", Helvetica;
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .alternate-w-icon-art .ellipse-5 {
    background-color: #000000;
    border-radius: 7.5px;
    height: 15px;
    left: 747px;
    position: absolute;
    top: 505px;
    width: 15px;
  }
  
  .alternate-w-icon-art .ellipse-6 {
    background-color: #ffffff;
    border-radius: 8px/7.5px;
    height: 15px;
    left: 767px;
    position: absolute;
    top: 505px;
    width: 16px;
  }
  
  .alternate-w-icon-art .ellipse-7 {
    background-color: #ffffff;
    border-radius: 7.5px;
    height: 15px;
    left: 788px;
    position: absolute;
    top: 505px;
    width: 15px;
  }
  .alternate-w-icon-art .overlap-8 {
    height: 561px;
    left: 178px;
    position: absolute;
    top: 2372px;
    width: 1552px;
  }
  
  .alternate-w-icon-art .about-us {
    height: 561px;
    left: 0;
    position: absolute;
    top: 0;
    width: 1552px;
  }
  
  .alternate-w-icon-art .overlap-9 {
    background-color: #ffffff;
    border-radius: 57px;
    height: 561px;
    position: relative;
    width: 1550px;
  }
  
  .alternate-w-icon-art .ABOUT-US {
    color: #000000;
    font-family: "Cabin", Helvetica;
    font-size: 22px;
    font-weight: 700;
    left: 40px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 30px;
    white-space: nowrap;
    width: 290px;
  }
  
  .alternate-w-icon-art .text-wrapper-20 {
    color: #000000;
    font-family: "Cabin", Helvetica;
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .alternate-w-icon-art .group {
    height: 244px;
    left: 591px;
    position: absolute;
    top: 145px;
    width: 768px;
  }
  
  .alternate-w-icon-art .text-box-info {
    height: 229px;
    left: 53px;
    position: absolute;
    top: 0;
    width: 690px;
  }
  
  .alternate-w-icon-art .simon-kurgan {
    color: #000000;
    font-family: "Cabin", Helvetica;
    font-size: 40px;
    font-weight: 700;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: -1px;
    white-space: nowrap;
    width: 290px;
  }
  
  .alternate-w-icon-art .text-wrapper-21 {
    color: #000000;
    font-family: "Cabin", Helvetica;
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .alternate-w-icon-art .founder-frontend {
    color: #000000;
    font-family: "Cabin", Helvetica;
    font-size: 32px;
    font-weight: 500;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 57px;
    width: 397px;
  }
  
  .alternate-w-icon-art .text-wrapper-22 {
    color: #b9a077;
    font-weight: 700;
  }
  
  .alternate-w-icon-art .text-wrapper-23 {
    color: #000000;
    font-family: "Cabin", Helvetica;
    font-size: 32px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .alternate-w-icon-art .text-wrapper-24 {
    font-weight: 400;
  }
  
  .alternate-w-icon-art .simon-lorem-ipsum {
    color: #000000;
    font-family: "Cabin", Helvetica;
    font-size: 24px;
    font-weight: 400;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 110px;
    width: 684px;
  }
  
  .alternate-w-icon-art .text-wrapper-25 {
    color: #000000;
    font-family: "Cabin", Helvetica;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .alternate-w-icon-art .arrow {
    height: 1px;
    left: 767px;
    position: absolute;
    top: 115px;
    width: 1px;
  }
  
  .alternate-w-icon-art .arrow-2 {
    height: 1px;
    left: 0;
    position: absolute;
    top: 115px;
    width: 1px;
  }
  
  .alternate-w-icon-art .ellipse-8 {
    background-color: #000000;
    border-radius: 7.5px;
    height: 15px;
    left: 367px;
    position: absolute;
    top: 229px;
    width: 15px;
  }
  
  .alternate-w-icon-art .ellipse-9 {
    background-color: #d9d9d9;
    border-radius: 8px/7.5px;
    height: 15px;
    left: 387px;
    position: absolute;
    top: 229px;
    width: 16px;
  }
  
  .alternate-w-icon-art .ellipse-10 {
    background-color: #d9d9d9;
    border-radius: 7.5px;
    height: 15px;
    left: 408px;
    position: absolute;
    top: 229px;
    width: 15px;
  }
  
  .alternate-w-icon-art .dscf-4 {
    height: 410px;
    left: 58px;
    position: absolute;
    top: 88px;
    width: 407px;
  }
  
  .alternate-w-icon-art .overlap-10 {
    height: 585px;
    left: -41px;
    position: absolute;
    top: -8px;
    width: 1938px;
  }
  
  .alternate-w-icon-art .header {
    background-color: transparent;
    height: 537px;
    left: 0;
    position: absolute;
    top: 0;
    width: 1938px;
  }
  
  .alternate-w-icon-art .vector {
    height: 180px;
    left: 0;
    position: absolute;
    top: 0;
    width: 262px;
  }
  
  .alternate-w-icon-art .login-wrapper {
    background-image: url(rectangle-4-1.png);
    background-size: 100% 100%;
    height: 60px;
    left: 1792px;
    position: absolute;
    top: 44px;
    width: 130px;
  }
  
  .alternate-w-icon-art .login {
    color: #ffffff;
    font-family: "Cabin", Helvetica;
    font-size: 24px;
    font-weight: 700;
    left: 36px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 16px;
    width: 58px;
  }
  
  .alternate-w-icon-art .text-wrapper-26 {
    color: #ffffff;
    font-family: "Cabin", Helvetica;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .alternate-w-icon-art .features {
    color: #4b2e83;
    font-family: "Cabin", Helvetica;
    font-size: 24px;
    font-weight: 400;
    left: 262px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 75px;
    width: 86px;
  }
  
  .alternate-w-icon-art .text-wrapper-27 {
    color: #4b2e83;
    font-family: "Cabin", Helvetica;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .alternate-w-icon-art .majors {
    color: #4b2e83;
    font-family: "Cabin", Helvetica;
    font-size: 24px;
    font-weight: 400;
    left: 375px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 75px;
    width: 68px;
  }
  
  .alternate-w-icon-art .text-wrapper-28 {
    color: #4b2e83;
    font-family: "Cabin", Helvetica;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .alternate-w-icon-art .about {
    color: #4b2e83;
    font-family: "Cabin", Helvetica;
    font-size: 24px;
    font-weight: 400;
    left: 470px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 75px;
    width: 67px;
  }
  .alternate-w-icon-art .text-wrapper-29 {
    color: #4b2e83;
    font-family: "Cabin", Helvetica;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .alternate-w-icon-art .sign-up-wrapper {
    background-color: #efefef;
    border-radius: 26px;
    height: 60px;
    left: 262px;
    position: absolute;
    top: 477px;
    width: 130px;
  }
  
  .alternate-w-icon-art .sign-up {
    color: #000000;
    font-family: "Cabin", Helvetica;
    font-size: 22px;
    font-weight: 700;
    left: 28px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 15px;
    width: 75px;
  }
  
  .alternate-w-icon-art .text-wrapper-30 {
    color: #000000;
    font-family: "Cabin", Helvetica;
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .alternate-w-icon-art .about-us-wrapper {
    border-radius: 26px;
    height: 60px;
    left: 421px;
    position: absolute;
    top: 477px;
    width: 130px;
  }
  
  .alternate-w-icon-art .about-us-2 {
    color: #85754d;
    font-family: "Cabin", Helvetica;
    font-size: 22px;
    font-weight: 700;
    left: 20px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 15px;
    width: 90px;
  }
  
  .alternate-w-icon-art .text-wrapper-31 {
    color: #85754d;
    font-family: "Cabin", Helvetica;
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .alternate-w-icon-art .demystifying {
    color: #4b2e83;
    font-family: "Cabin", Helvetica;
    font-size: 64px;
    font-weight: 400;
    left: 262px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 233px;
    width: 742px;
  }
  
  .alternate-w-icon-art .text-wrapper-32 {
    color: #4b2e83;
    font-family: "Cabin", Helvetica;
    font-size: 64px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .alternate-w-icon-art .at-the-university-of {
    color: #4b2e83;
    font-family: "Cabin", Helvetica;
    font-size: 40px;
    font-weight: 400;
    left: 262px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 397px;
  }
  
  .alternate-w-icon-art .text-wrapper-33 {
    color: #4b2e83;
    font-family: "Cabin", Helvetica;
    font-size: 40px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .alternate-w-icon-art .rectangle-2 {
    height: 251px;
    left: 1267px;
    position: absolute;
    top: 234px;
    width: 453px;
  }
  
  .alternate-w-icon-art .work-being-creative {
    height: 544px;
    left: 1202px;
    position: absolute;
    top: 42px;
    width: 518px;
  }
  
  .alternate-w-icon-art .LLC-and-logo {
    height: 303px;
    left: 0;
    position: absolute;
    top: 3213px;
    width: 1924px;
  }
  
  .alternate-w-icon-art .overlap-11 {
    height: 303px;
    position: relative;
    width: 1920px;
  }
  
  .alternate-w-icon-art .UW-MAJORS {
    color: #ffffff;
    font-family: "Cabin", Helvetica;
    font-size: 24px;
    font-weight: 700;
    left: 23px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 51px;
    white-space: nowrap;
    width: 138px;
  }
  
  .alternate-w-icon-art .text-wrapper-34 {
    color: #ffffff;
    font-family: "Cabin", Helvetica;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .alternate-w-icon-art .UW-majors-LLC-all {
    color: #ffffff;
    font-family: "Cabin", Helvetica;
    font-size: 24px;
    font-weight: 500;
    left: 23px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 254px;
    width: 380px;
  }
  
  .alternate-w-icon-art .text-wrapper-35 {
    color: #ffffff;
    font-family: "Cabin", Helvetica;
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .alternate-w-icon-art .rectangle-3 {
    background-color: #4b2e83;
    height: 303px;
    left: 0;
    position: absolute;
    top: 0;
    width: 1920px;
  }
  
  .alternate-w-icon-art .random-info-and {
    height: 160px;
    left: 89px;
    position: absolute;
    top: 52px;
    width: 1794px;
  }
  
  .alternate-w-icon-art .resources {
    color: #fefefe;
    font-family: "Cabin", Helvetica;
    font-size: 24px;
    font-weight: 700;
    left: 1239px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: -1px;
    white-space: nowrap;
    width: 110px;
  }
  
  .alternate-w-icon-art .text-wrapper-36 {
    color: #fefefe;
    font-family: "Cabin", Helvetica;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .alternate-w-icon-art .contact {
    color: #fefefe;
    font-family: "Cabin", Helvetica;
    font-size: 24px;
    font-weight: 700;
    left: 1453px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
    white-space: nowrap;
    width: 86px;
  }
  .alternate-w-icon-art .text-wrapper-37 {
    color: #fefefe;
    font-family: "Cabin", Helvetica;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .alternate-w-icon-art .documentation-blog {
    color: #fefefe;
    font-family: "Cabin", Helvetica;
    font-size: 24px;
    font-weight: 400;
    left: 1239px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 49px;
    width: 214px;
  }
  
  .alternate-w-icon-art .text-wrapper-38 {
    color: #fefefe;
    font-family: "Cabin", Helvetica;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .alternate-w-icon-art .documentation-blog-2 {
    color: #fefefe;
    font-family: "Cabin", Helvetica;
    font-size: 24px;
    font-weight: 400;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 20px;
    width: 214px;
  }
  
  .alternate-w-icon-art .text-wrapper-39 {
    color: #fefefe;
    font-family: "Cabin", Helvetica;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .alternate-w-icon-art .twitter-careers {
    color: #fefefe;
    font-family: "Cabin", Helvetica;
    font-size: 24px;
    font-weight: 400;
    left: 1453px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 49px;
    width: 331px;
  }
  
  .alternate-w-icon-art .text-wrapper-40 {
    color: #fefefe;
    font-family: "Cabin", Helvetica;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .alternate-w-icon-art .grey-page-sub {
    border-radius: 26px;
    height: 178px;
    left: 549px;
    position: absolute;
    top: 2984px;
    width: 827px;
  }
  
  .alternate-w-icon-art .know-where-you-stand {
    color: #ffffff;
    font-family: "Cabin", Helvetica;
    font-size: 56px;
    font-weight: 700;
    left: 133px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: -1px;
    white-space: nowrap;
    width: 556px;
  }
  
  .alternate-w-icon-art .text-wrapper-41 {
    color: #ffffff;
    font-family: "Cabin", Helvetica;
    font-size: 56px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .alternate-w-icon-art .compare-yourself-to {
    color: #ffffff;
    font-family: "Cabin", Helvetica;
    font-size: 24px;
    font-weight: 600;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 73px;
    width: 821px;
  }
  
  .alternate-w-icon-art .text-wrapper-42 {
    color: #ffffff;
    font-family: "Cabin", Helvetica;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .alternate-w-icon-art .div-wrapper {
    background-image: url(rectangle-4-2.png);
    background-size: 100% 100%;
    height: 60px;
    left: 338px;
    position: absolute;
    top: 118px;
    width: 130px;
  }
  
  .alternate-w-icon-art .sign-up-2 {
    color: #000000;
    font-family: "Cabin", Helvetica;
    font-size: 24px;
    font-weight: 700;
    left: 25px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 11px;
    width: 81px;
  }
  
  .alternate-w-icon-art .text-wrapper-43 {
    color: #000000;
    font-family: "Cabin", Helvetica;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: normal;
  }
     